.action-items {
    padding-right: 30px;
    height: 100px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.action-items svg {
    margin-right: 20px;
}

.icon-grid {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.icon-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 200px;
    height: 150px;
}

.icon-item:hover {
    /* 鼠标移入时的样式 */
    color: #299de5;
    background-color: #f4f8fa;
}

.el-dialog__body {
    padding: 20px 20px;
}

.el-input {
    width: 300px
}

.el-form-item {
    margin-left: 45px;
    width: 560px;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.el-dialog {
    scale: 0.9;
}

.el-popover {
    padding: 0;
}